* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #8b5b5b;
}
.header {
  margin: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
.container{
  display: flex;
  justify-content: space-between; /* espaço entre os cards */
  gap: 20px; /* distância entre os cards */
}
.card{
    margin: auto;
    background: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

  .card img {
    margin: auto;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-text {
    color: #333;
    line-height: 1.4em;
    max-height: 4.2em; /* ~3 linhas */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

  .card-text.expandido {
    max-height: 500px; /* suficiente para o texto completo */
}

.ver-mais{
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 12px;
      margin-top: 8px;
      cursor: pointer;
}

.ver-mais:hover {
      background-color: #0056b3;
}